table,table * {
    margin: auto;
    border: 1px solid black;
}
caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 10px;
}
tr:nth-child(1) {
    background-color: rgb(195, 195, 255);
    
}
td{
    padding-right: 30px;
    padding-left: 5px;
}
#sex *,#bodyIndex *,#Name {
    border: none;
}

#textArea * {
    display: block;
    border: none;
}

#textArea textarea {
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.247);
    border-right: 0.1px solid rgba(0, 0, 0, 0.247);
}
button {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 0px 0px 1px gray;
}