@import url(font.css);

/*Estructura de body e imagines*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: plum;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    margin: 0;
}


/*Diseño de header */

header {
    background-color: rgb(238, 245, 212);
    display:flex;
    flex-flow: column;
    padding: 10px;
    width: 100%;
    height: 100%;           
}

.header-section{
    display: flex;
    list-style: none;
    margin:10px;
}

.header-section ul, .header-section li{
    font-family: "Caveat", cursive;
    font-size: 20px;
    display: flex;
    gap: 20px;    
}

.header-title h1{
    font-family: "Merriweather", serif,regular;
    font-size: 50px;
    justify-content: center;
    display: flex;    
}

#logo{
    width: 40px;
    height: 40px;
}

.header-profile {
    display: flex;
    list-style: none;
    justify-content: end;
    padding: 10px;   
}

.profile{
    padding: 10px;
    display: flex;
    width: 10%;
    gap: 20px;
    margin-top: -120px;
}

.profile label{
    font-weight: 600;
    margin-top: 20px;
}

.buscar{
    padding: 5px 15px;
    display: flex;
    height: 45px;
    margin-top: -110px;
}

.buscar input[type="text"]{
    font-size: 15px;
    border: 0;
    background-color: transparent;
    width: 200px;
    outline: none;
    border-bottom: 1px solid black;
}

.header-menu-content{
    background-color: rgb(228, 33, 179);
}
.header-menu nav{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.menu-1 ul *, .menu-1 li *{
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.menu-1 ul *:hover{
    color: red;
}
.header-menu,.header-menu *{
    display: flex;
    list-style: none;
    margin:10px 10px;
    justify-content: center;
}

.menu-1 select option:first-child{
    display: none;
    visibility: hidden;
}

.menu-1 select{
    border: none;
}

.header-subtitle{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: aliceblue;
    width: 100%;
}

.header-subtitle p{
    display: flex;
    list-style: none;
    margin:10px 5px;
    justify-content: center;
    font-family: "Lora", serif;
    font-size: 25px;
}

.slider-img{
    width: 100%;
    height: auto;
}

.slider-content{
    display: flex;
    overflow: hidden;
    width: 1400px;
    height: 720px;
    margin: 0 auto;
}
.swiper-slider{
    flex: 0 0 100%;
}

.slider-text1, .slider-text2 {
    z-index: -2;
}
