@import url(font.css);

/*Estructura de body e imagines*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background:linear-gradient(to right, rgb(231, 177, 126), rgb(250, 250, 247));
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.a{
    text-decoration: none;
}
/*Diseño de header */

header {
    background:linear-gradient(to right, rgb(231, 177, 126), rgb(250, 250, 247));
    display:flex;
    flex-flow: column;
    padding: 10px;
    min-width: 200px;
    height: 100%;           
}

.header-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin:10px;
}

.header-section ul, .header-section li{
    font-family: "Caveat", cursive;
    font-size: 20px;
    display: flex;
    gap: 20px;    
}

.header-title h1{
    font-family: "Merriweather", serif,regular;
    font-size: 50px;
    justify-content: center;
    display: flex;    
}

#logo{
    width: 40px;
    height: 40px;
}

.header-profile {
    display: flex;
    list-style: none;
    justify-content: end;
    padding: 10px;   
}

.profile{
    padding: 10px;
    display: flex;
    width: 10%;
    gap: 20px;
    margin-top: -120px;
}

.profile label{
    font-weight: 600;
    margin-top: 20px;
}

.buscar{
    padding: 5px 15px;
    display: flex;
    height: 45px;
    margin-top: -110px;
}

.buscar input[type="text"]{
    font-size: 15px;
    border: 0;
    background-color: transparent;
    width: 200px;
    outline: none;
    border-bottom: 1px solid black;
}

/*estilo menu principal*/
.header-menu-content{
    background-color: rgb(228, 33, 179);
    min-width:200px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: content;
}

.header-menu nav{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.menu-1 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: auto;
    padding: 10px;
}

.menu-1 ul *, .menu-1 li *{
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.menu-1 ul *:hover{
    color: red;
}
.header-menu,.header-menu *{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin:10px 10px;
    justify-content: center;
}

.menu-1 select option:first-child{
    display: none;
    visibility: hidden;
}

.menu-1 select{
    border: none;
}
/*estilo subtitulo*/
.header-subtitle{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: aliceblue;
    width: 100%;
}

.header-subtitle p{
    display: flex;
    list-style: none;
    margin:10px 5px;
    justify-content: center;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 25px;
}

#Scroll-menu{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    flex: content;
}

#content-Items{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    height: 602px;
    min-width: 200px;
    overflow: hidden;
}

#content-Items img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.itemCarrusel{
    height: 100%;
    width: 100%;
    position: relative;
}

.cardItems{
    height: 100%;
}

.text {
    position: absolute;
    top: 50px;
    left: 80px;
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    color: #0c0b0b; /* Color del texto */
    text-align: center;
    z-index: 1; /* Coloca el texto encima de la imagen */
}

.text p{
    font-size: 3.5rem;
    font-weight: 650;
}


.arrows{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.arrows a {
    font-size: 2rem;
    color: #ffffff; /* Color predeterminado */
    text-decoration: none;
    opacity: 0.2;
    transition: color 0.3s ease-in-out;
}

.arrows:hover a {
    opacity: 1;
}

.arrows a:hover {
    color: #ec4141; /* Color al pasar el ratón */
}

#points-Cards{
    background-color: #bbb;
    opacity: 0.5;
    display: flex;
    position:sticky;
    margin-top: -40px;
    justify-content: space-around;
    
}

#points-Cards > a{
    font-size: 1.5rem;
    font-weight: 800;
    color: #000000; /* Color predeterminado */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    z-index: 1;
}

#points-Cards > a:hover,
#points-Cards > a.active {
    color: #ec4141; /* Color al pasar el ratón o activo */
}

/*Estilo de secciones*/

#categorias{
    background: linear-gradient( 80deg, rgb(236, 188, 142) -40%, rgb(250, 250, 247) 50%, rgb(236, 188, 142) 160%);
    padding: 20px;
}

.section-title{
    display: flex;
    justify-content: center;
    padding-top: 20px;    
}

.section-title h1{
    font-size: 40px;
}

.menu-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;  
}

.item-section{
    height: 400px;
    width: 400px;
    padding: 60px;
    text-align: center;
}   

.item-section img{
    width: 100%;
    height: 100%;
    border: 2px solid red;
    border-radius: 50%;
    object-fit:cover;
}

/*estilo de mapa*/

.map-info{
    padding: 20px 20px 80px;
    margin-bottom: 10px;
    height: 500px;
    border-top: 2px solid rgb(197, 180, 125);
    border-bottom: 2px solid rgb(197, 180, 125);         
}

.map-info h1{
    font-size: 40px;
    font-family: "Gochi Hand", cursive;
    font-weight: 200;
    padding-bottom: 10px;
    text-align: center;
}

.frame-map{
    min-height: 100%;
    width: 100%;   
    align-items: center;
}

/*Estilo de footer*/
#footerPage{
    margin: 10px 10px;
}

#info-cosper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px ;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.sobre-nosotros h4{
    font-size: 40px;
    padding-bottom: 10px;
}

.sobre-nosotros ul li{
    padding: 8px 0 ;
    font-size: 18px;
    
}

.sobre-nosotros li:hover *{
    cursor: pointer;
    color: #ec4141;
    padding: 8px 0 ;
    font-size: 21px;
}
.redes-sociales h4{
    font-size: 40px;
    padding-bottom: 10px;
}

.redes-sociales ul li{
    padding: 8px 0 ;
    font-size: 18px;
    
}

.redes-sociales li:hover *{
    cursor: pointer;
    color: #ec4141;
    padding: 8px 0 ;
    font-size: 21px;
}
