@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

/*Encuadre de body*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: plum;
    font-family: "Open Sans", sans-serif;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*menu inicial*/
.container{
    max-width: 1200px;  
    margin: 0 auto;
}
/*
.menu label img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}*/

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar{
    display: flex;
}

.menu-1{
    margin-left: 180px;
}

.menu-2{
    margin-left: 100px;
    display: flex;
}

/*Logos*/

.logo-1{
    width: 0;
}

.logo-2{
    height: 20px;
    width: 20px;
}

/*Marca*/
.Marcas{
    display: flex;
}

.Marca{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 10%;
    
}

.Marca:hover{
    background-color: plum;
}

.Marca img, #esika{
    background-color: white;
    height:36px;
}

/*Navbar*/
.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover {
    color: red;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu-label {
    cursor: pointer;
    display: none;    
}

/*header contenet*/
.header-content{
    margin-top: 200px;
    padding-bottom: 50px;
}

.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}

.slider-txt h1 {
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: white;
    text-decoration: solid black;
}

.slider-img {
    width: 50%;
}

.slider-img img {
    margin: 0 270px 0 30px;
    width: 500px;
}

/*Encuadre de google maps*/
.maps{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height:450px;
}

/*Flechas de scroll*/
.swiper-button-prev::after{
    font-size: 25px;
}

.swiper-button-next::after{
    font-size: 25px;
}

.swiper-button-next{
    color: red;
}

.swiper-button-prev{
    color: red;
}

.swiper-pagination-bullet{
    background-color: white;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: red;
}

/*Botones*/
.botones {
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    background-color: red;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 58px;
}

.btn-1:hover{
    background-color: black;
}

/*Scroll Productos*/
.products {
    background-color: black;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0px;
    text-align: center;
    color: black;
    font-weight: 700;
    transition: background ease 0.2s;
}

.tabs, .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"]{
    display: none;
}

.tabs input[type="radio"]:checked + label{
    border-bottom: 2px solid red;
    color: aliceblue;
}